
* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.575;
  letter-spacing: 1px;
  color: #000;
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
}

b, strong {
  font-weight: bold;
}

a {
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0 0 0 0.785rem;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  background: #dedede;
  height: 1px;
  border: 0;
  margin: 4rem 0;
}

input:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-items-center {
  align-items: center;
}

/* Grid layout */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6 {
  position: relative;
  width: 100%;
  padding: 0 0.5rem;
}

@media (min-width: 992px) {
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}